streamlit
pandas
plotly
python-dotenv
databricks-sql-connector
boto3
langchain
langchain-openai
langchain-pinecone
langchain-community
langchain-huggingface
pinecone-client
python-docx
docx2txt
openai
xgboost
sentence-transformers
faiss-cpu
docx2txt
